.form {
  background-color: white;
  border-radius: 0.5em;
  margin-top: 1.5em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  box-shadow: 0px 0.5em 0px 0px rgba(0, 0, 0, 0.2);

  &__input {  
    box-sizing: border-box;
    width: calc(100% - 3em);
    border: 1.5px solid rgba(var(--neutral-grayish-blue-rgb), 0.5);
    border-radius: 0.3em;
    padding: 1.2em 0;
    padding-left: 1em;
    margin-top: 1em;
    font-weight: 500;

    &:first-of-type {
      margin-top: 0;
    }

    &::placeholder {
      color: rgba(var(--neutral-dark-blue-rgb), 0.7);
      font-weight: 600;
    }

    &--invalidate {
      border-color: var(--primary-red);
      color: var(--primary-red);
      background: url('../../images/icon-error.svg') no-repeat center right 1.5em;
    }
  }

  &__error-message {
    display: none;
    color: var(--primary-red);
    text-align: right;
    width: calc(100% - 3rem);
    margin: auto;
    margin-top: .5rem;
    font-size: .7em;
    font-style: italic;
  }

  &__error-message--visible {
    display: inline-block;
  }

  &__button {
    box-sizing: border-box;
    width: calc(100% - 3em);
    border-radius: 0.3em;
    padding: 1.2em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--primary-green);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: inset 0px -0.2em 0px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  &__text {
    width: calc(100% - 6rem);
    margin: auto;
    color: var(--neutral-grayish-blue);
    font-size: 0.659em;
    line-height: 1.8;
  }

  &__terms {
    color: var(--primary-red);
    font-weight: 700;
    text-decoration: none;
  }
}
