.main {
  width: calc(100% - 3em);
  margin: auto;
  padding-top: 4.9em;
  padding-bottom: 3.5em;
  color: white;
  text-align: center;

  &__title {
    font-size: 1.7em;
    padding-left: 1em;
    padding-right: 1em;
  }

  &__text {
    margin-top: 1.6em;
    line-height: 1.5;
  }

  &__offer {
    background-color: var(--accent-blue);
    border-radius: 0.5em;
    line-height: 1.5;
    padding: 1.3em 3em;
    max-width: 375px;
    margin: 4.5em auto;
    margin-bottom: 0;
    box-shadow: 0px .5em 0px 0px rgba(0,0,0,0.2);
  }
}
